<div id="<%= dom_id trip %>">
  <p>
    <strong>Name:</strong>
    <%= trip.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= trip.location %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>

</div>
